/* --- Project --- */

.projects-container {
  width: 100%;
  height: auto;
}

/* --- Card --- */

.card-overflow-container {
  width: 100%;
  height: 380px;
  margin: 0 auto;
  margin-bottom: 60px;
  overflow: hidden; /* Hide .card from overflowing */
  border-radius: 3px;
  box-shadow: 5px 7px 12px 0px #9595a07e;
}

.card {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: 300ms;
  transform: scale(1.1); /* Slightly expand .card (bg-img) */
}

.card:hover {
  transform: scale(1); /* Set bg-img to normal size when hover */
  /* opacity: 0.9; */
}

/* First .card */
.card-0-bg {
  background-image: url("../../images/morioh.jpeg");
  background-position: bottom;
}

/* Second .card */
.card-1-bg {
  background-image: url("../../images/find-la-cloche.jpg");
  background-position: top;
}

/* Third .card */
/* .card-2-bg {
  background-image: url("../../images/blog.jpeg");
  background-position: center;
} */

/* Fourth .card */
.card-3-bg {
  background-image: url("../../images/weather.jpg");
  background-position: center;
}

.dark-bg-0, .dark-bg-1, .dark-bg-2, .dark-bg-3 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Element transparent if no hover */
  transition: 300ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark-bg-0:hover, .dark-bg-1:hover, .dark-bg-2:hover, .dark-bg-3:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1.1); /* Prevent the child from shrinking on hover */
}

/* Child Elements of Card Container or BG Container */

.card-project-info {
  width: 50%;
  text-align: center;
  margin: 0 0 15px 0;
  color: #fff;
  padding: 20px;
  border-radius: 3px;
}

.card-project-info h1 {
  margin: 0 0 15px 0;
  font-size: 2em;
}

.card-project-info span {
  width: 200px;
}

.card-button-container {
  height: 20%;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-button-container button {
  font-family: 'Nunito Sans', sans-serif;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 3px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 300ms;
}

.view-code-button {
  color: #273299;
  background-color: #eeeeee;
  box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.363);
}

.view-code-button:hover {
  background-color: #ffffff;
}

.live-demo-button {
  color: #fff;
  background-color: #747fe0;
  box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.363);
}

.live-demo-button:hover {
  /* margin-bottom: 1px; */
  background-color: #8b94e9;
}

.fa-icon {
  padding: 3px 0 0 3px;
}

@media only screen and (max-width: 1150px) {
  .card-button-container {
    height: 25%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .card-overflow-container {
    width: 100%;
    height: 70vh;
  }

  .card-project-info {
    width: 65%;
    margin: 0 0 0px 0;
  }
  
  .card-project-info h1 {
    font-size: 1.5em;
  }

  .card-button-container {
    height: 20%;
  }
}