.about {
  color: #fff;
  background: #383846;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.1em;
  line-height: 1.25em;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 5px 10px 3px #3838467e;
}

.indent-once {
  margin-left: 1rem;
}

.indent-twice {
  margin-left: 2rem;
}

@media only screen and (max-width: 500px) {
  .about {
    margin: 0 auto;
    padding: 20px;
    overflow-x: auto;
  }
}