.about {
  height: 360px;
  color: #fff;
  background: rgb(55, 55, 55);
  padding: 20px;
  overflow: auto;
  line-height: 18px;
}

.indent-once {
  margin-left: 1rem;
}

.indent-twice {
  margin-left: 2rem;
}