.contact {
  width: min-content;
  margin: 0 auto;
  text-align: center;
  color: #5a5d7a;
}

.section a {
  color: #007bff;
  text-decoration: none;
}

.section a:hover {
  text-decoration: underline;
}

.section p {
  line-height: 2rem;
}

.or-separator {
  margin: 20px;
}

.section-find-me-on {
  margin: 0 0 20px 0;
}

.section-made-by-user {
  color: #525f7f;
  font-size: 0.75em;
  margin-bottom: 50px;
}