/* --- Navbar --- */

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-container-items {
  width: 210px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.navbar-container-items h3 a {
  color: #5a5d7a;
  font-weight: 400;
  text-decoration: none;
  transition: 250ms;
}

.navbar-container-items h3 a:hover {
  color: #747fe0;
}

@media only screen and (max-width: 500px) {
  .navbar {
    justify-content: center;
  }
}