@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f9fc;
  font-family: 'Nunito Sans', sans-serif;
}

.App {
 width: 70%;
 max-width: 1100px;
 height: 100%;
 margin: 0 auto;
}

/* --- Title Container --- */

.title-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.title-container h1 {
  margin: 0 0 20px 0;
  font-size: 5rem;
  font-weight: 600;
  color: #747fe0;
}

/* --- Intro --- */

.intro {
  color: #5a5d7a;
  margin: 0 0 40px 0;
}

.intro p {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 300;
}

/* --- Projects Header Container --- */

.section-header {
  margin: 50px 0 50px 0;
  padding: 20px 0 20px 0;
  text-align: center;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.section-header {
  color: #5a5d7a;
  font-weight: 600;
}

@media only screen and (max-width: 500px) {

  .App {
    width: 85%;
  }

  .navbar {
    justify-content: center;
  }

  .title-container {
    display: flex;
    justify-content: center;
  }

  .title-container h1 {
    font-size: 2rem;
    margin: 10px 0 30px 0;
  }
  
  .intro p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    text-align: center;
    padding: 10px;
  }
}